body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(pic1.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif; 
}
.home-page
{
	width: 360px;
	margin: 50px 500px;

}
.contact-title
{
	margin-top: 10px;
	color: #fff;
	text-transform: uppercase;
	transition: all 1s ease-in-out;
}
.contact-title h1{
	font-size: 32px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
}
.contact-title h2{
	color: #fff;
	text-transform: uppercase;
}
.form
{	
	color: #fff;
	margin-top: 30px;
	transition: all 4s ease-in-out;
	background: transparent;
	max-width: 360px;
	margin: 0 auto 40px;
	text-align: center;
}
.form input
{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin:0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button{
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(108,108,108);
	width: 50%;
	border-color: transparent;
	padding: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.form button:hover,.form button:active{
	background-color: #f44336;
}
nav
{
	width: 100%;
	height: 50px;
	background-color: #0009;
	line-height: 50px;
}
nav ul{
	float: right;
	margin-right: 30px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.8s all;
}
nav ul li:hover{
	background-color: #f39d1a;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 30px;
}